<html>
<head>
  <meta charset="utf-8" />
  <title>FusionAuth Express Web</title>
  <link rel="stylesheet" href="/static/css/changebank.css">
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <div id="logo-header">
        <div class="h-row">
          <p class="header-email"></p>
          <a class="button-lg" href="/logout">Logout</a>
        </div>
      </div>

      <div id="menu-bar" class="menu-bar">
        <a class="menu-link" href="/make-change">Make Change</a>
        <a class="menu-link inactive" href="/account">Account</a>
      </div>
    </div>

    <div style="flex: 1;">
      <div class="column-container">
        <div class="app-container change-container">
          <h3>Thanks for registering! Set your address to start making money changes</h3> 
            <div class="error-message"></div>
            <div class="change-message">
            </div>

          <form onsubmit="setAddress(event)" id="set-address-form">
            <div class="h-row">
              <div class="change-label">Your Address</div>
              <input class="change-input" name="address" id="address" value="" type="text" />
              <input class="change-submit" type="submit" value="Set Address" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      // Snag cookie user data
      const user = JSON.parse(decodeURIComponent(document.cookie.split('; ').filter(c => c.includes('userDetails')).at(0).split('=').at(-1)).replace('j:', ''))
      document.querySelector('.header-email').innerHTML = user.email;

      const setAddress = async (e) => {
        e.preventDefault();

        const resp = await (await fetch('/set-address', {
          method: 'POST',
          body: new URLSearchParams(new FormData(e.currentTarget)),
          headers: {
              "Content-Type": "application/x-www-form-urlencoded",
          },
        })).json();
        const error = JSON.parse(resp).error;
        
        if (error) {
          document.querySelector('.error-message').innerHTML = result.error
        } else {
          location.replace('/make-change');
        }
      }
    </script>
</body>
</html>
